* { box-sizing: border-box; }

body {
	max-width: 960px;
	margin: 0 auto;
}

.nav ul {
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: #2B3A42;
}

.nav li {
	display: inline-block;
  	width: 120px;
    line-height: 50px;
    font-size: 1.5em;
}
 
.nav a {
  	text-decoration: none;
  	color: #fff;
  	display: block;
  	transition: .3s background-color;
}
 
.nav a:hover {
  	background-color: #3F5765;
}

.hero-img {
	max-width: 100%
}

.gallery {
	padding: 10px 0 20px 0;
}

.gallery-col {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	width: 25%;
}

.gallery img {
	max-width: 100%;
	padding: 0 10px 10px 10px;
}

@media screen and (max-width: 999px) {
	body {
		margin: 0 10px 0;
	}
}

@media screen and (max-width: 800px) {
	.gallery-col {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 655px) {
	.nav li {
		display: inline;
	}
}
