/* ADD YOUR STYLES HERE */

* {box-sizing: border-box;}

.horiz {
	text-align: center;
}

.horiz img {
	padding: 0 20px;
	vertical-align: top;
}

.horiz p, .horiz ol {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.container {
    padding: 75px 0;
}

.inline {
	display: inline;
	float: left;
}

.button-txt {
	display: inline-block;
	color: white;
	text-decoration: none;
	border: none;
	padding: .75em 2em;
	background-color: lightcoral;
}

.button-big {
	font-size: 1.5em;
	border-radius: 8px;
}

.button-med {
	font-size: 1em;
	border-radius: 6px;
}

.button-sml {
	font-size: .75em;
	padding: .5em 1em;
	border-radius: 4px;
}

.button-txt:hover {
	background-color: black;
	text-decoration: underline;
}

.first-nav {
	border-radius: 8px 0 0 8px;
}

.last-nav {
	border-radius: 0 8px 8px 0;
}

.pagination-txt {
	display: inline-block;
	color: lightcoral;
	text-decoration: none;
	padding: .5em;
	margin: .5em;
}

.pagination-num {
	display: inline-block;
	color: lightcoral;
	text-decoration: none;
	padding: .5em;
	margin: .5em;
	border-bottom: 3px solid lightcoral;
}

.pagination-current {
	display: inline-block;
	color: lightgrey;
	padding: .5em;
	margin: .5em;
	border-bottom: 3px solid lightgrey;
}

.stream {
	position: relative;
	clear: left;
}

.stream-img {
	float: left;
  	padding: 10px;
}

.comment {
	padding: 10px;
	overflow: hidden;
}

time {
	font-size: small;
	color: lightgrey;
}

.tab-txt {
  display: inline-block;
  font-weight: 500;
  color: blue;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
  border-style: solid;
  border-width: thin;
  border-bottom-style: none;
  border-color: cornflowerblue;
  border-radius: 8px 8px 0 0;
}

.tab-txt:hover {
	background-color: white;
}

.tab-selected {
	background-color: white;
}

.tab-box {
	z-index: -1;
  clear: both;
  position: relative;
  top: -9px;
  border-radius: 10px;
  border: 1px solid cornflowerblue;
  padding: 10px;
}